# Chaves do Supabase
VITE_SUPABASE_URL=https://xiivmyvfsxluwtfcfhsp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_IhaIUukNly6KWNSKbv18YA_nlVxSeSy

# Outras Chaves (Adicione as suas reais no painel da Vercel)
GEMINI_API_KEY=sua_chave_aqui
